# The UID of the user that will be developing using svs-dev
# The workdir in svs-dev will be CHOWNed to this user
MY_HOST_UID=1000

# The svs-dev docker will create a working dir with SaToSa and SVS installed in the versiosn below.
# If teh workdir already exists, teh docker will NOT deploy SaToSa and SVS to prevent overwriting existing work
# The SatoSa version to initially deploy
SATOSA_VERSION=svs-1.0.2
SVS_VERSION=2.1.0

#SaToSa needs a key and a salt. Choose random strings here
SATOSA_KEY=1fa0dafd36d9d2c8401b943sk4kwde954e2016cf3f37fa1f67bbffe6c4f2f78e
SATOSA_SALT=6f692915a7df20d9d4be17a70djdieff04585b0ab231825b7a15ed5d6140aa1e

# To be able to pul ldata from git, the docker needs to iclude aprivate key.
# GIT_KEY points to the private key on your local filesystem to use for that
GIT_KEY=~/.ssh/id_rsa_inacademia

# POUND config needs the InAcademia local certs 
# THis points to them
# TODO: remove this and replace with hardcoded volumen mapping in docker compose OP config
POUND_SSL_DIR=op/config/etc/ssl/

# NGINX configuration
NGINX_SSL_DIR=nginx/config/etc/ssl/
NGINX_CONFIG=nginx/config/nginx.conf
NGINX_STATIC_DIR=nginx/config/static/

# Only needed for building production svs, this sets the name and version of the production image we are building
IMAGE_NAME=inacademia/svs
IMAGE_VERSION=2.3.0
DOCKER_VERSION=1

