SATOSA_VERSION=svs-1.0.2
SVS_VERSION=2.1.0
SATOSA_KEY=1fa0dafd36d9d2c8401b943sk4kwde954e2016cf3f37fa1f67bbffe6c4f2f78e
SATOSA_SALT=6f692915a7df20d9d4be17a70djdieff04585b0ab231825b7a15ed5d6140aa1e
GIT_KEY=~/.ssh/id_rsa_inacademia
POUND_SSL_DIR=op/config/etc/ssl/

# Only needed for building production svs
IMAGE_NAME=inacademia/svs
IMAGE_VERSION=2.3.0
DOCKER_VERSION=1

