BASE: https://op.inacademia.local
INTERNAL_ATTRIBUTES: 'internal_attributes.yaml'
COOKIE_STATE_NAME: 'SATOSA_STATE'
BACKEND_MODULES:
  - 'plugins/inacademia_backend.yaml'
FRONTEND_MODULES:
  - 'plugins/inacademia_frontend.yaml'
MICRO_SERVICES:
  - 'plugins/custom_alias.yaml'
  - 'plugins/metainfo.yaml'
  #- 'plugins/attribute_override.yaml'
  #- 'plugins/blacklist.yaml'
  - 'plugins/attribute_processor.yaml'
  - 'plugins/custom_logging.yaml'
  - 'plugins/user_consent.yaml'
LOGGING:
  fail_timeout: 0
  version: 1
  formatters:
    simple:
      format: "[%(asctime)-19.19s] [%(levelname)-5.5s]: %(message)s"
    simpler:
      format: "%(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      level: DEBUG
      formatter: simple
      stream: ext://sys.stdout
    info_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: DEBUG
      formatter: simple
      filename: info.log
      maxBytes: 10485760 # 10MB
      backupCount: 20
      encoding: utf8
    transaction_flow_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: DEBUG
      formatter: simpler
      filename: transaction_flow.log
      maxBytes: 10485760 # 10MB
      backupCount: 20
      encoding: utf8
  loggers:
    satosa:
      level: DEBUG
      handlers: [console]
      propagate: no
    svs:
      level: DEBUG
      handlers: [console]
      propagate: no
    transaction_flow:
      level: DEBUG
      handlers: [console, transaction_flow_file_handler]
      propagate: no
  root:
    level: DEBUG
    handlers: [info_file_handler]

