{
  "rp": {
    "allowed_claims": [
      "domain",
      "country"
    ],
    "allowed_scope_values": [
      "student",
      "affiliated",
      "employee",
      "faculty+staff",
      "alum",
      "persistent",
      "transient"
    ],
    "response_types": ["id_token"],
    "client_id": "rp",
     "display_name": "User friendly RP name",
    "logo": "https://cdn.mutually.com/wp-content/uploads/2018/03/n.jpg",
    "redirect_uris": [
      "https://rp.inacademia.local/protected/"
    ]
  }
}
